In [1]:
import numpy as np

In [2]:
n_random = np.random.random(100)

In [3]:
n_random

array([0.302116  , 0.63251056, 0.9200279 , 0.50316425, 0.14141898,
       0.58770735, 0.21616178, 0.4391617 , 0.47089191, 0.32732282,
       0.91433244, 0.60060158, 0.9861463 , 0.86741653, 0.78556763,
       0.88434526, 0.10568165, 0.58418851, 0.85366032, 0.51598731,
       0.09484131, 0.2699225 , 0.64083142, 0.72275222, 0.51465473,
       0.43930691, 0.19222126, 0.61076307, 0.37897901, 0.74386099,
       0.12023974, 0.88544138, 0.71485829, 0.25672217, 0.91794176,
       0.94797114, 0.17371879, 0.87244631, 0.4011665 , 0.19342249,
       0.78495092, 0.19375407, 0.15703799, 0.03953633, 0.83094869,
       0.2131497 , 0.12857085, 0.18607023, 0.16923054, 0.60387242,
       0.07609866, 0.55564442, 0.61792776, 0.91564726, 0.01490948,
       0.22797424, 0.04157082, 0.68886103, 0.47680927, 0.62465715,
       0.33888783, 0.53503484, 0.62417854, 0.68821397, 0.11826992,
       0.47085515, 0.33293725, 0.7027875 , 0.88565212, 0.68675867,
       0.54556721, 0.30404263, 0.81158989, 0.73261998, 0.9451652 ,
       0.11802763, 0.79309052, 0.74231094, 0.59698758, 0.12024417,
       0.85981278, 0.19048263, 0.84169079, 0.00274778, 0.65132949,
       0.20144104, 0.32713701, 0.44230819, 0.30994636, 0.8032111 ,
       0.13030957, 0.47746733, 0.45122301, 0.08583754, 0.29648036,
       0.95284356, 0.02547147, 0.86708835, 0.82892144, 0.45827455])

In [4]:
import pandas as pd

In [7]:
data = pd.Series([n_random])

In [8]:
data

0    [0.3021159987147829, 0.6325105635338237, 0.920...
dtype: object

In [9]:
data.values

array([array([0.302116  , 0.63251056, 0.9200279 , 0.50316425, 0.14141898,
              0.58770735, 0.21616178, 0.4391617 , 0.47089191, 0.32732282,
              0.91433244, 0.60060158, 0.9861463 , 0.86741653, 0.78556763,
              0.88434526, 0.10568165, 0.58418851, 0.85366032, 0.51598731,
              0.09484131, 0.2699225 , 0.64083142, 0.72275222, 0.51465473,
              0.43930691, 0.19222126, 0.61076307, 0.37897901, 0.74386099,
              0.12023974, 0.88544138, 0.71485829, 0.25672217, 0.91794176,
              0.94797114, 0.17371879, 0.87244631, 0.4011665 , 0.19342249,
              0.78495092, 0.19375407, 0.15703799, 0.03953633, 0.83094869,
              0.2131497 , 0.12857085, 0.18607023, 0.16923054, 0.60387242,
              0.07609866, 0.55564442, 0.61792776, 0.91564726, 0.01490948,
              0.22797424, 0.04157082, 0.68886103, 0.47680927, 0.62465715,
              0.33888783, 0.53503484, 0.62417854, 0.68821397, 0.11826992,
              0.47085515, 0.33293725, 0.7027875 , 0.88565212, 0.68675867,
              0.54556721, 0.30404263, 0.81158989, 0.73261998, 0.9451652 ,
              0.11802763, 0.79309052, 0.74231094, 0.59698758, 0.12024417,
              0.85981278, 0.19048263, 0.84169079, 0.00274778, 0.65132949,
              0.20144104, 0.32713701, 0.44230819, 0.30994636, 0.8032111 ,
              0.13030957, 0.47746733, 0.45122301, 0.08583754, 0.29648036,
              0.95284356, 0.02547147, 0.86708835, 0.82892144, 0.45827455])],
      dtype=object)

In [10]:
df = pd.DataFrame({'column_1':n_random})

In [11]:
df

    column_1
0   0.302116
1   0.632511
2   0.920028
3   0.503164
4   0.141419
..       ...
95  0.952844
96  0.025471
97  0.867088
98  0.828921
99  0.458275

[100 rows x 1 columns]

In [17]:
df_2 = df.describe()#数値計算の37の6をしている途中

In [18]:
df_2

         column_1
count  100.000000
mean     0.495749
std      0.290278
min      0.002748
25%      0.210223
50%      0.508909
75%      0.742698
max      0.986146

In [19]:
df_2.to_csv('df_data.csv')

In [20]:
df_2

         column_1
count  100.000000
mean     0.495749
std      0.290278
min      0.002748
25%      0.210223
50%      0.508909
75%      0.742698
max      0.986146